cookie_name=COOKIE_NAME_HERE
cookie_password=COOKIE_EMCRYPTION_KEY_HERE_MUST_BE_32_CHARS
db=MONGO_CLOUD_ATLAS_STRING_HERE
cloudinary_name=CLOUDINARY_NAME_HERE
cloudinary_key=CLOUDINARY_KEY_HERE
cloudinary_secret=CLOUDINARY_SECRET_HERE
fa=FONT_AWESOME_KEY_HERE