{{> menu active="about"}}

<section class="section">
  <h1 class="title is-4"> Hello from Trail Tracker </h1>
  <p>Trail Tracker is a hiking trail web app for listing trail information. </p>
</section>
<section class="section box">
  <h2>Image References:</h2>
  <p>Trail logo</p>
  <a href="https://www.flaticon.com/free-icons/hiking" title="hiking icons">Hiking icons created by Freepik - Flaticon</a>
</section>
