{{> menu}}

<section class="section columns is-vcentered">
  <div class="column">
    <div class="title">
      {{category.title}}
    </div>
    {{> list-trails}}
    {{> add-trail}}
  </div>
  <div class="column">
    {{> category-image }}
  </div>
</section>
