<div class="title p-3 is-flex">
  {{!-- <i style="font-size: 48px; color: Dodgerblue;" class="fas fa-icons"></i> --}}
  <i class="fa-solid fa-person-hiking fa-lg mt-3" style="color: rgb(99, 230, 190);"></i>
  <i class="fa-solid fa-tree fa-lg mt-3 ml-2" style="color: rgb(99, 230, 190);"></i>
  <div class="ml-4">Trail Tracker</div>
</div>
